<!DOCTYPE html>
<html>

<head>
    <title>Sentiment Analysis App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h1>Sentiment Analysis App</h1>
<hr/>
<div ng-app="sentiment">
    <div ng-view></div>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="bower_components/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="scripts/bootstrap.js"></script>
<script src="scripts/routes.js"></script>
<script src="scripts/loginctrl.js"></script>
<script src="scripts/resultsctrl.js"></script>

</body>
</html>